* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #908bbf;
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-título {
    color: #ffffff;
    font-size: 48px;
}

.cabeçalho-lista {
    color: white;
    font-size: 24px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-imagem {
    width: 10%;
}

.Apresentação {
    background-image: linear-gradient(#ffffff, #e6e8ff);
    color: rgb(214, 214, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.Apresentação-título {
    font-size: 36px;
    padding: 24px;
}

.Apresentação-parágrafo {
    font-size: 15px;
    padding: 15px;
}

.Apresentação-imagem {
    width: 40%;
}
